blinker
click
contourpy
cycler
Flask
fonttools
gunicorn
ImageIO
itsdangerous
Jinja2
kiwisolver
lazy-loader
MarkupSafe
matplotlib
networkx
numpy
opencv-python-headless
tensorflow-cpu
packaging
pillow
pyparsing
python-dateutil
scikit-image
scipy
six
tifffile
Werkzeug
